@model User

<form method="post">
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Username" required />
    
    <label for="Email">Email:</label>
    <input type="email" id="Email" name="Email" required />

    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" required />

    <button type="submit">Register</button>
</form>